header {
    padding-block: 32px;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0;
}

/* PERFIL - Lado Esquerdo */
#profile {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex: 1; /* Ocupa o espaço restante */
}

#profile > div {
    max-width: 384px;
}

#profile h1 {
    font: var(--text-xl); 
    color: var(--text-color-primary);
    margin-bottom: 16px;
}

#profile p {
    font: var(--text-md);
    color: var(--text-color-secondary);
    line-height: 1.6;
}

#profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

/* INFO - Lado Direito */
#info { 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    font: var(--text-md);
    color: var(--text-color-secondary);
    text-align: left;

    flex-shrink: 0; /* Não encolhe em telas menores */
    width: auto;
    min-width: 200px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#info img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.7;
}
